<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hf.mybatisgenerator.mapper.GenMapper">
  <resultMap id="BaseResultMap" type="com.hf.mybatisgenerator.entity.Gen">
    <id column="table_id" jdbcType="BIGINT" property="tableId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
    <result column="sub_table_name" jdbcType="VARCHAR" property="subTableName" />
    <result column="sub_table_fk_name" jdbcType="VARCHAR" property="subTableFkName" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="tpl_category" jdbcType="VARCHAR" property="tplCategory" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
    <result column="function_author" jdbcType="VARCHAR" property="functionAuthor" />
    <result column="gen_type" jdbcType="CHAR" property="genType" />
    <result column="gen_path" jdbcType="VARCHAR" property="genPath" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gen_table
    where table_id = #{tableId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hf.mybatisgenerator.entity.Gen">
    insert into gen_table (table_id, table_name, table_comment, 
      sub_table_name, sub_table_fk_name, class_name, 
      tpl_category, package_name, module_name, 
      business_name, function_name, function_author, 
      gen_type, gen_path, options, 
      create_by, create_time, update_by, 
      update_time, remark)
    values (#{tableId,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}, #{tableComment,jdbcType=VARCHAR}, 
      #{subTableName,jdbcType=VARCHAR}, #{subTableFkName,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, 
      #{tplCategory,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, 
      #{businessName,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR}, #{functionAuthor,jdbcType=VARCHAR}, 
      #{genType,jdbcType=CHAR}, #{genPath,jdbcType=VARCHAR}, #{options,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hf.mybatisgenerator.entity.Gen">
    update gen_table
    set table_name = #{tableName,jdbcType=VARCHAR},
      table_comment = #{tableComment,jdbcType=VARCHAR},
      sub_table_name = #{subTableName,jdbcType=VARCHAR},
      sub_table_fk_name = #{subTableFkName,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      tpl_category = #{tplCategory,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      function_name = #{functionName,jdbcType=VARCHAR},
      function_author = #{functionAuthor,jdbcType=VARCHAR},
      gen_type = #{genType,jdbcType=CHAR},
      gen_path = #{genPath,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where table_id = #{tableId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select table_id, table_name, table_comment, sub_table_name, sub_table_fk_name, class_name, 
    tpl_category, package_name, module_name, business_name, function_name, function_author, 
    gen_type, gen_path, options, create_by, create_time, update_by, update_time, remark
    from gen_table
    where table_id = #{tableId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select table_id, table_name, table_comment, sub_table_name, sub_table_fk_name, class_name, 
    tpl_category, package_name, module_name, business_name, function_name, function_author, 
    gen_type, gen_path, options, create_by, create_time, update_by, update_time, remark
    from gen_table
  </select>
</mapper>